@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*, body {
    overflow-x: hidden;    
}

body {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: #222228;
}

.rise {
    opacity: 0;
    animation: rise 0.8s ease-in-out forwards;
}
 
.rise.subheading {
    animation: rise 1.2s ease-in-out forwards 0.5s;
}

@keyframes rise {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#home.grouped-sections {
    background: url("../../assets/img/backgrounds/Vector\ 17.svg") no-repeat, url("../../assets/img/backgrounds/home-page-background.JPG") center top no-repeat;
    background-size: cover, 100% 90%;
}

#about.grouped-sections {
    background: url("../../assets/img/backgrounds/Vector\ 17.svg") no-repeat, url("../../assets/img/backgrounds/about-page-background.png") center top no-repeat;
    background-size: cover, 100% 56%;
}

@media screen and (max-width: 792px){
    #home.grouped-sections {
        background: url("../../assets/img/backgrounds/Vector\ 17.svg") no-repeat, url("../../assets/img/backgrounds/home-page-background.JPG") center top no-repeat;
        background-size: cover, 60rem 90rem;
    }

    #about.grouped-sections {
        background: url("../../assets/img/backgrounds/Vector\ 17.svg") no-repeat, url("../../assets/img/backgrounds/about-page-background.png") center top no-repeat;
        background-size: cover, auto;
    }    
}

.sect-one {
    padding: 25vh 0 30vh 0;
}

.main-sect, .gallery-sect {
    padding-top: 15vh !important;
}

.angled-white-bg, .dark-text {
    color: black;
}

.single-angle {
    background: url('../../assets/img/backgrounds/Vector\ 16.svg') no-repeat;
    background-size: cover;
}

.double-angle {
    background: url('../../assets/img/backgrounds/Vector\ 15.svg') no-repeat;
    background-size: cover;
}

.last-sect {
    background: url("../../assets/img/backgrounds/studio-producer.jpg");
    background-size: 100% 100%;
    padding: 15vh 0;
}

.gradient {
    background: linear-gradient(180deg, #21D2FE 1.04%, #42A6FC 49.48%, #677AFD 100%);
}

/* Contact Page */
.contact-address a {
    color: black;
}

.socials.buttons a {
    color: white;
}

input[type="text"].form-control, input[type="email"].form-control, textarea.form-control, textarea.form-control:focus {
    background-color : #d1d1d165;
}
/* *** */

.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-30%);
}

.from-right {
    transform: translateX(30%);
}

.from-bottom {
    transform: translateY(35%);
}

.from-left, .from-right, .from-bottom {
    transition: transform 1s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 0;
}

.from-left.appear, .from-right.appear, .from-bottom.appear {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.card {
    width: clamp(16rem, 18vw, 20rem);
}

/* Carousel */
img.rounded-circle {
    width: clamp(3rem, 5vw, 6rem);
    height: clamp(3rem, 5vw, 6rem);
}

.carousel-indicators .active {
    background: linear-gradient(180deg, #256FB6 1.04%, #7B61FF 49.48%, #677AFD 100%);
}

.carousel-inner {
    width: 80%;
}

.testimonial-header, .blockquote .artiste-name, .blockquote .category {
    letter-spacing: 0.1rem;
}

/* FOOTER */
footer a {
    color: white;
}

footer a:hover, footer a:focus {
    color: #677AFD;
    text-decoration: underline !important;
}

.footer-brand-logo, .copyright {
    width: clamp(7.5rem, 15vw, 12rem);
}
